body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-width: 800px;
    margin-left:100px;
    margin-right:100px;
}
.one{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #1F2937;
    padding:24px;
    padding-left: 100px;
    padding-right: 100px;
    
}
.header{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}
.links{
    font-size: 18px;
    display:flex;
    align-items: center;
    gap:18px;
}
a{
    color:white;
    text-decoration: none;
}
.two{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 100px;
}
.header2{
    font-size: 48px;
    font-weight: 800;
    color:#F9FAF8;
}
.body2{
    font-size: 18px;
    color: #E5E7EB;
}
.button1{
    width:auto;
    
}
button{
    color: white;
    background-color: #3882F6;
    border-radius: 4px;
    border: none;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 400px;
}
.right{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    padding: 120px 160px;
    margin: 30px;
}
.three{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap:48px;
}
.header3{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}
.contents{
    display: flex;
    justify-content: center;
    gap:70px;
    margin:0px 150px;
}
.subtext{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding:20px;
    gap: 20px;
}
.square{
    height:130px;
    border: 4px solid blue;
    border-radius: 8px;
}
.four{
    background-color: #E5E7EB;
    padding: 80px 200px;
}
.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    
}
.tag{
    display:flex;
    justify-content: end;
}
.five{
    background-color: #3882F6;
    margin: 48px 128px;
    padding: 36px 72px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.left5{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.header5{
    font-weight: bolder;
}
.button5{
    border: 1px solid white;
    border-radius: 4px;
}
.footer{
    background-color: #1F2937;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}